header{
    width: 100%;
    height: 50px;
    /*background-color: blue;*/
    text-align: center;
    background-image: url(../img/top.png);
    background-position: center;
    background-repeat: no-repeat;
}
.content{
    margin: 0 auto;
    /*background-color: green;*/
}
canvas{
    width: 340px;
    height: 453px;
    border: 2px solid #fff;
    background-color: black;
    margin-left:495px;
}